* {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: Georgia, Serif;
    margin: 0;
    font-size: 16px;
}
.container {
    padding: 55px 25px;
}
.navigation {
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: black;
    padding: 0 25px;
}
.navigation_logo{
    float: left;
}
.navigation__button.open + .navigation__list {
    opacity: 1;
    visibility: visible;
}
.navigation__button {
    float: right;
    padding: 10px;
    border: 0;
    background: none; 
    width: 50px;
    height: 40px;
    position: relative;
}
.navigation__button span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    opacity: 1;
}
.navigation__button span:nth-child(1) {
    top: 12px;
}
.navigation__button span:nth-child(2) {
    top: 20px;
}
.navigation__button span:nth-child(3) {
    top: 28px;
}
.navigation__button.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 20px;
}
.navigation__button.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
.navigation__button.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 20px;
}
.navigation__link {
    text-decoration: none;
    background-color: black;
    font-size: 26px;
    line-height: 50px;
    margin: 30px 10px;
    color: white;
    text-transform: lowercase;
}
.navigation__list > ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation__link:hover{
    color: #ff9205;
}
.intro {
    height: 100vh;
    background-color: black;
    background-size: contain;
    position: relative;
}
.intro__data{
    margin: 0 auto;
    margin-top: calc(50vh - 170px);
}
.profileimg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #ff9205;
    background: url('img/zdj.jpg') top center;
    background-size: cover;
    margin: 0 auto;
}
.intro__data--main{
    padding-top: 20px;
    line-height: 26px;
    text-align: center;
}
.info__data--main{
    margin: 20px 0;
    text-align: center;
    text-indent: 30px;
    font-size: 20px;
    line-height: 26px;
}
.header {
    font-size: 26px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
}
.rf__header, .front__header{
    color: #ff9205;
}
.header--main{
    color: white;
    font-size: 26px;
    margin: 0;
    padding-bottom: 40px;
}
.header--secondary{
    color: white;
    font-size: 20px;
    padding: 0 50px;
    margin: 0;
}
.experience > .container{
    background-color: #e6e6e6; 
}
.field__define, .rf, .front{
    color: #e6e6e6;
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}
.field__define{
    color: black;
}
.rf.active, .front.active{
    color: #ff9205;
    text-decoration: underline;
}
.data--front, .data--rf{
    display: none;
}
.data--front.active, .data--rf.active{
    display: block;
}
.data__box{
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}
.data__box.add{
    display: none;
}
.icon{
    width: 64px;
    height: 64px;
    display: inline-block;
    margin-right: 10px;
}
.project__link{
    font-size: 14px;
}
.abilities__data > .data--front > .data__box, .abilities__data > .data--rf > .data__box{
    background-color: #e6e6e6; 
}
.portfolio__icon{
    background: url('img/portfolio.png') top center;
}
.cut__icon{
    background: url('img/cut.png') top center;
}
.todo__icon{
    background: url('img/todo.png') top center;
}
.matlab__icon{
    background: url('img/matlab.png') top center;
}
.feko__icon{
    background: url('img/feko.png') top center;
}
.awr__icon{
    background: url('img/awr.png') top center;
}
.sprzet__icon{
    background: url('img/sprzet.png') top center;
}
.html__icon{
    background: url('img/html.png') top center;
}
.css__icon{
    background: url('img/css.png') top center;
}
.js__icon{
    background: url('img/js.png') top center;
}
.photoshop__icon{
    background: url('img/photoshop.png') top center;
}
.contact > .container{
    margin: 0;
    background-color: #e6e6e6;
    text-align: center;
}
.contact__container{
    display: inline-block;
    padding: 20px 20px;
}
.city__icon{
    background: url('img/city.png') top center;
}
.mail__icon{
    background: url('img/email.png') top center;
}
.phone__icon{
    background: url('img/phone.png') top center;
}
.github__icon{
    background: url('img/github.png') top center;
}
.data__box a{
    text-decoration: none;
    color: black;
}
.footer__data {
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
    background-color: black;
    position: relative;
    font-size: 16px;
}
.footer__data span, .icon__copyrights{
    margin: 0;
    padding: 0;
    color: white;
    position: absolute;
    left: 10px;
    line-height: 35px;
}
.icon__copyrights{
    top: 50%;
    line-height: 35px;
}
.icon__copyrights--second{
    display: none;
}
.icon__copyrights a{
    color: white;
    text-decoration: none;
}
.back__button{
    margin: 0;
    padding: 0;
    color: white;
    position: absolute;
    text-decoration: none;
    right: 10px;
    line-height: 70px;
}

@media (min-width: 768px){
    .container {
        padding: 55px 55px;
    }
    .info__data--main{
        text-align: justify;
    }
    .field__define, .rf, .front{
        text-align: center;
    }
    .data__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .data__text{
        text-align: justify;
        flex-basis: 75%;
    }
    .project__link{
        font-size: 16px;
    }
    .icon__copyrights--first{
        display: inline-block;
    }
    .icon__copyrights--second{
        display: inline-block;
        color: white;
    }
    .navigation{
        padding: 0 55px;
    }
}

@media (min-width: 1280px){
    .navigation{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navigation__button{
        display: none;
    }
    .navigation__link{
        font-size: 20px;
        line-height: 20px;
        margin: 0;
    }
    .navigation__list > ul >li{
        display: inline-block;
        padding-left: 20px;
    }
    .navigation__list{
        display: flex;
        align-items: center;
    }
    .intro__data{
        text-align: center;
        margin-top: calc(50vh - 121px);
    }
    .profileimg{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 50px;
    }
    .intro__data--main{
        height: 206px;
        display: inline-block;
        padding: 0;
    }
    .field__define, .rf ,.front{
        display: none;
    }
    .experience__data, .abilities__data{
        display: table;
    }
    .data--front{
        width: calc(50vw - 77.5px);
        display: table-cell;
    }
    .data--rf{
        display: table-cell;
        width: calc(50vw - 27.5px);
        border-right: 55px solid #e6e6e6;
    }
    .abilities__data > .data--rf{
        border-right: 55px solid white;
    }
    .data__box.add{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .data__box.add > .icon{
        line-height: 64px;
        font-size: 64px;
    }
    .contact__data{
        display: table;
    }
    .contact__data > .data__box{
        width: calc(50vw);
        display: table-cell;
    }
    
}
@media (max-width: 1279px){
    .navigation__list{
        visibility: hidden;
        background-color: black;
        position: absolute;
        top: 40px;
        left: 0;
        height: 100vh;
        width: 100vw;
        text-align: center;
        padding-top: 100px;
    }
}